.carousel-height {
    height: 400px;
}

.carousel {
    box-shadow: 0 3px 5px #555555;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    position: absolute;
    top: -400px;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    margin-right: auto;
    max-width: none;
    margin-left: -800px;
}