body {
    background-color: #696A6C;
}

p {
    font-family: "museo-sans",sans-serif;
    text-align: justify;
}

h1, h2 {
    font-family: "estilo-pro",sans-serif;
}

blockquote {
    border-left: 0 solid transparent;
}

hr {
    border-top: 1px dotted #2e4e67;
    height: 1px;
}
a,
a:link {
    cursor: pointer;
    color:#2A75A9;
}

a:visited,
a:hover,
a:active {
    color:#1e537a;
}
