body {
    background-color: #696A6C;
}

p, ul, ol, li {
    font-family: "museo-sans",sans-serif;
    text-align: justify;
}

h1, h2, h3 {
    font-family: "estilo-pro",sans-serif;
}

blockquote {
    border-left: 0 solid transparent;
}

hr {
    border-top: 1px dotted #2e4e67;
    height: 1px;
}

a,
a:link {
    cursor: pointer;
    color:#2A75A9;
}

a:visited,
a:hover,
a:active {
    color:#1e537a;
}

.btn {
    border-radius: 0;
}

.btn-subscribe {
    color: #CCCCCC;
    background-color: #274257;
}

.btn-subscribe:hover,
.btn-subscribe:focus,
.btn-subscribe:active,
.btn-subscribe.active,
.open .dropdown-toggle.btn-subscribe {
    color: #CCCCCC;
    background-color: #2e4e67;
    border-color: #2e4e67;
}

.btn-subscribe:active,
.btn-subscribe.active,
.open .dropdown-toggle.btn-subscribe {
    background-image: none;
}

.pager li {
    display: inline;
}

.pager li > a,
.pager li > span {
    margin: 0 12px;
    background-color: #274257;
    border: 1px solid #274257;
    border-radius: 0;
    color: #CCCCCC;
    box-shadow: 3px 3px 5px #999999;
}

.pager li > a:hover,
.pager li > a:focus {
    text-decoration: none;
    background-color: #2e4e67;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
    color: #696A6C;
    cursor: not-allowed;
    background-color: #ffffff;
}