.wp-caption-text {
    border-left: 3px solid #274257;
    padding-left: 6px;
    margin-top: 6px;
}

.wp-caption {
    max-width: 100% !important;
}

.wp-caption > a > img,
.wp-caption > img{
    max-width: 100%;
    height: auto;
}

.aligncenter {
    margin-left: auto;
    margin-right: auto;
}